<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Exercises</title>
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <link rel="stylesheet" th:href="@{/css/note.css}">
</head>
<body>
  <th:block th:include="common/nav :: nav"></th:block>

  <div class="container">
    <!-- 使用Thymeleaf条件判断，只有在publicNotes非空时才显示<h1>标签 -->
    <h1 th:if="${not #lists.isEmpty(publicExercises)}">Public Exercises</h1>

    <!-- 使用Thymeleaf条件判断，当publicNotes为空时显示提示信息 -->
    <h1 th:if="${#lists.isEmpty(publicExercises)}">
      No public exercise available.
    </h1>

    <ul th:if="${not #lists.isEmpty(publicExercises)}">
      <!-- 使用Thymeleaf表达式遍历publicNotes列表 -->
      <li th:each="exercise : ${publicExercises}">
        <!-- 显示note的其他属性 -->
        <a class="card public ${exercise.noteType}" th:href="${exercise.noteLink}">
          <p th:text="${exercise.noteName}"></p>
        </a>
      </li>
    </ul>
  </div>

  <div class="container" th:if="${not #lists.isEmpty(privateExercises)}">
    <!-- 使用Thymeleaf条件判断，只有在publicNotes非空时才显示<h1>标签 -->
    <h1>Private Exercises</h1>

    <ul>
      <!-- 使用Thymeleaf表达式遍历publicNotes列表 -->
      <li th:each="exercise : ${privateExercises}">
        <!-- 显示note的其他属性 -->
        <a class="card public ${exercise.noteType}" th:href="${exercise.noteLink}">
          <p th:text="${exercise.noteName}"></p>
        </a>
      </li>
    </ul>
  </div>
</body>
</html>