<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <title>Login</title>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<section class="login">
  <h1 class="title">帳戶登入</h1>
  <div class="container">
    <div class="blank">
      <input
          type="text"
          name="account"
          id="account"
          placeholder="Account"
      />
    </div>
    <div class="blank">
      <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
      />
      <i class="eyes fa-solid fa-eye show-pw" id="show-pw"></i>
      <i class="eyes fa-solid fa-eye-slash hide-pw hide" id="hide-pw"></i>
    </div>
  </div>
  <div class="buttons">
    <button type="submit" class="btn submit" id="submit" th:action="@{/login}">登入</button>
    <button type="reset" class="btn reset warning" id="reset" onclick="reset()">重置</button>
  </div>
  <div class="buttons">
    <a th:href="@{/sign-up}" class="btn2">
    <i class="fa-solid fa-user-plus"></i>
    <span>Sign Up</span>
    </a>
    <a th:href="@{/}" class="btn2">
    <i class="fa-solid fa-house"></i>
    <span>Home</span>
    </a>
  </div>
</section>

<script th:src="@{/js/login.js}"></script>
</body>
</html>