<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>Notes</title>
  <link rel="stylesheet" th:href="@{/css/nav.css}">
  <link rel="stylesheet" th:href="@{/css/note.css}">
</head>
<body>
    <th:block th:include="common/nav :: nav"></th:block>

    <div class="container">
      <!-- 使用Thymeleaf条件判断，只有在publicNotes非空时才显示<h1>标签 -->
      <h1 th:if="${not #lists.isEmpty(publicNotes)}">Public Notes</h1>

      <!-- 使用Thymeleaf条件判断，当publicNotes为空时显示提示信息 -->
      <h1 th:if="${#lists.isEmpty(publicNotes)}">
        No public notes available.
      </h1>

      <ul th:if="${not #lists.isEmpty(publicNotes)}">
        <!-- 使用Thymeleaf表达式遍历publicNotes列表 -->
        <li th:each="note : ${publicNotes}">
          <!-- 显示note的其他属性 -->
          <a class="card public ${note.noteType}" th:href="${note.noteLink}">
            <p th:text="${note.noteName}"></p>
          </a>
        </li>
      </ul>
    </div>
</body>
</html>