<html xmlns:th="http://www.thymeleaf.org">
<body >
<th:block th:fragment="nav">
  <header>
    <h1 class="web-title">Notes Share</h1>

    <div class="navbar">
      <ul class="nav-links">
        <li class="link"><a th:href="@{/index}" th:text="#{common.index}"></a></li>
        <li class="link"><a th:href="@{/note-share/notes}" th:text="#{common.app1}"></a></li>
        <li class="link"><a th:href="@{/note-share/exercises}" th:text="#{common.app2}"></a></li>
      </ul>

      <div class="buttons">
        <a class="button" th:href="@{/login}" th:text="#{btn.login}"></a>
        <a class="button" th:href="@{/sign-up}" th:text="#{btn.sign_up}"></a>
      </div>
    </div>
  </header>
</th:block>
</body>
</html>